* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

html {
  overflow-x: hidden;
}

header {
  width: 100vw;
  height: 55px;
  background: -webkit-gradient(linear, left top, right top, from(white), to(#f3f3f3));
  background: linear-gradient(to right, white, #f3f3f3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  -webkit-box-shadow: 0px -1px 15px 5px rgba(0, 0, 0, 0.212);
          box-shadow: 0px -1px 15px 5px rgba(0, 0, 0, 0.212);
}

header a#title::after {
  content: "";
  width: 0;
  height: 4px;
  position: absolute;
  left: 50%;
  bottom: -13px;
  background: -webkit-gradient(linear, left top, right top, from(#ff6a30), to(#ffad06));
  background: linear-gradient(to right, #ff6a30, #ffad06);
  border-radius: 4px;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

header a#title:hover::after {
  left: -5px;
  width: calc(100% + 10px);
}

header a#title {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: #ff6a30;
  letter-spacing: 1px;
  position: relative;
}

header a.item {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: black;
  text-align: end;
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 120px;
}

header a.item:hover {
  color: #ff6a30;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

header input#search {
  width: 130px;
  position: relative;
  font-size: 1.1rem;
  padding-block: 8px;
  -webkit-padding-start: 10px;
          padding-inline-start: 10px;
  outline: none;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header input#search:focus {
  width: 200px;
  background-color: rgba(0, 0, 0, 0.08);
}

header .search-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

header .search-wrapper i {
  color: #ff6a30;
  position: absolute;
  left: -40px;
  top: 10px;
  font-size: 1.35rem;
  cursor: pointer;
  padding: 7px;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .search-wrapper i:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.cover.hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(3, 3, 3, 0.11);
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
}

.cover.show {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(3, 3, 3, 0.11);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cover.show form {
  position: relative;
  z-index: 12;
  height: 150px;
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 1px 2px 15px 1px rgba(56, 56, 56, 0.14);
          box-shadow: 1px 2px 15px 1px rgba(56, 56, 56, 0.14);
}

.cover.show form .close {
  display: block;
  text-align: end;
  padding-block: 10px;
  padding-inline: 20px;
}

.cover.show form .close i {
  font-size: 1.2rem;
  cursor: pointer;
}

.cover.show form .fields {
  padding-inline: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  gap: 15px;
}

.cover.show form .fields .submit-btn {
  width: 100px;
  height: 40px;
  color: white;
  margin-top: 5px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#ff6a30), to(#ffad06));
  background: linear-gradient(to right, #ff6a30, #ffad06);
}

main {
  min-height: calc(100vh - 55px);
  width: 100vw;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .wrapper {
  position: relative;
  padding-top: 40px;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10%;
}

.pic {
  overflow: hidden;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 8px solid #ff6a30;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
}

.pic__wrapper {
  position: relative;
}

.row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.row .float-btn {
  position: absolute;
  z-index: 2;
  right: 0px;
  bottom: 0px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  -webkit-box-shadow: -2px 2px 15px 2px rgba(0, 0, 0, 0.212);
          box-shadow: -2px 2px 15px 2px rgba(0, 0, 0, 0.212);
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.row .float-btn__icon {
  color: white;
  position: absolute;
}

.row .float-btn:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.row .refresh {
  background: -webkit-gradient(linear, left top, right top, from(#ff6a30), to(#ffad06));
  background: linear-gradient(to right, #ff6a30, #ffad06);
}

.row .invite {
  background: #50fa5e;
}

.row .friend {
  background: #fc776d;
}

.row__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 25px;
  gap: 30px;
}

.row__text h1 {
  display: block;
  text-align: center;
}

.row__text p {
  color: gray;
  text-decoration: underline;
  max-width: 350px;
}

img {
  width: calc(200px + 30px);
  z-index: 0;
  position: absolute;
}

.info-box {
  margin-inline: auto;
  width: 89%;
  padding-bottom: 25px;
  border-radius: 10px;
  background-color: rgba(70, 70, 70, 0.096);
  overflow-y: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info-box__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 40px;
  padding-block: 10px;
  margin-bottom: 10px;
  padding-inline: 40px;
  background: -webkit-gradient(linear, left top, right top, from(#ff6a30), to(#ffad06));
  background: linear-gradient(to right, #ff6a30, #ffad06);
  -webkit-box-shadow: -2px 2px 15px 2px rgba(0, 0, 0, 0.212);
          box-shadow: -2px 2px 15px 2px rgba(0, 0, 0, 0.212);
}

.info-box__header p {
  font-size: 1.2rem;
  font-weight: bold;
}

.info-box__header span {
  font-size: 1.3rem;
  border-radius: 50%;
  padding-inline: 10px;
  padding-block: 5px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.info-box__header span i {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.info-box__header span:hover {
  background: rgba(24, 24, 24, 0.075);
}

.info-box__item {
  font-size: 0.9rem;
  padding-inline: 25px;
}

.info-box__item h3 {
  font-style: normal;
  font-weight: 500;
}

.info-box__item h3.date {
  margin-top: 10vh;
  font-size: 0.89rem;
  text-align: end;
}

.info-box::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 0;
  width: 100%;
  z-index: 10;
  background-color: white;
  z-index: 3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.info-box.hidden::after {
  height: calc(100% - 61px);
}

.float-btn {
  position: absolute;
  z-index: 2;
  right: 0px;
  bottom: 0px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  -webkit-box-shadow: -2px 2px 15px 2px rgba(0, 0, 0, 0.212);
          box-shadow: -2px 2px 15px 2px rgba(0, 0, 0, 0.212);
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.float-btn__icon {
  color: white;
  position: absolute;
}

.float-btn:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.friends {
  background: -webkit-gradient(linear, left top, right top, from(#ff6a30), to(#ffad06));
  background: linear-gradient(to right, #ff6a30, #ffad06);
  position: fixed;
  left: calc(50vw + 30vw);
  bottom: 20px;
}

.friends i {
  color: white;
}
/*# sourceMappingURL=profile.css.map */