* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Poppins", sans-serif;
}

html {
  overflow-x: hidden;
}

header {
  width: 100vw;
  height: 55px;
  background: -webkit-gradient(linear, left top, right top, from(white), to(#f3f3f3));
  background: linear-gradient(to right, white, #f3f3f3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  -webkit-box-shadow: 0px -1px 15px 5px rgba(0, 0, 0, 0.212);
          box-shadow: 0px -1px 15px 5px rgba(0, 0, 0, 0.212);
}

header a#title::after {
  content: "";
  width: 0;
  height: 4px;
  position: absolute;
  left: 50%;
  bottom: -13px;
  background: -webkit-gradient(linear, left top, right top, from(#ff6a30), to(#ffad06));
  background: linear-gradient(to right, #ff6a30, #ffad06);
  border-radius: 4px;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

header a#title:hover::after {
  left: -5px;
  width: calc(100% + 10px);
}

header a#title {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: #ff6a30;
  letter-spacing: 1px;
  position: relative;
}

header a.item {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: black;
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header a.item:hover {
  color: #ff6a30;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

header input#search {
  width: 130px;
  position: absolute;
  font-size: 1.1rem;
  padding-block: 8px;
  -webkit-padding-start: 10px;
          padding-inline-start: 10px;
  outline: none;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header input#search:focus {
  width: 200px;
  background-color: rgba(0, 0, 0, 0.08);
}

header .search-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

header .search-wrapper i {
  color: #ff6a30;
  position: absolute;
  left: -40px;
  top: 10px;
  font-size: 1.35rem;
  cursor: pointer;
  padding: 7px;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .search-wrapper i:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

i.fa-search {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

h1 {
  text-align: center;
  padding-top: 75px;
  border-bottom: 10px;
}

.content {
  min-height: calc(100vh - 55px);
  max-height: calc(100vh - 55px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
  overflow-y: scroll;
}

body {
  min-height: 100vh;
}

.user {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: black;
  width: 600px;
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
  padding-inline: 25px;
  padding-block: 15px;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 1px 2px 15px 1px rgba(56, 56, 56, 0.14);
          box-shadow: 1px 2px 15px 1px rgba(56, 56, 56, 0.14);
}

.user:hover {
  -webkit-box-shadow: 2px 4px 15px 4px rgba(46, 46, 46, 0.14);
          box-shadow: 2px 4px 15px 4px rgba(46, 46, 46, 0.14);
}

.user__img {
  height: 70px;
  width: 70px;
  border: 5px solid #ff6a30;
  border-radius: 50%;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
}

.user__img .pic {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user__img .pic img {
  width: calc(70px + 9px);
}

.user h4 {
  font-size: 1.1rem;
}
/*# sourceMappingURL=search.css.map */