header {
    width: 100vw;
    height: $header-h;
    background: $header-gradient;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0px -1px 15px 5px rgba(0, 0, 0, 0.212);

    a#title::after {
        content: "";
        width: 0;
        height: 4px;
        position: absolute;
        left: 50%;
        bottom: -13px;
        background: $gradient-right;
        border-radius: 4px;
        transition: all 0.35s;
    }

    a#title:hover::after {
        left: -5px;
        width: calc(100% + 10px);
    }

    a#title {
        text-decoration: none;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: 1.2rem;
        color: $title-color;
        letter-spacing: 1px;
        position: relative;
    }
    a.item {
        text-decoration: none;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: 1rem;
        color: black;
        position: relative;
        transition: 0.4s;
    }
    a.item:hover {
        color: $title-color;
        transform: scale(1.1);
    }

    input#search {
        width: 130px;
        position: absolute;
        font-size: 1.1rem;
        padding-block: 8px;
        padding-inline-start: 10px;
        outline: none;
        background-color: rgba($color: #000000, $alpha: 0.05);
        border-radius: 6px;
        transition: 0.5s;
    }

    input#search:focus {
        width: 200px;
        background-color: rgba($color: #000000, $alpha: 0.08);
    }

    .search-wrapper {
        position: relative;
        display: flex;
        justify-content: end;
        align-items: center;
        height: 100%;

        i {
            color: $title-color;
            position: absolute;
            left: -40px;
            font-size: 1.35rem;
            cursor: pointer;
            padding: 7px;
            border-radius: 50%;
            transition: 0.5s;
            // background-color: ;
        }
        i:hover {
            background-color: rgba($color: #000000, $alpha: 0.08);
        }
    }
}
