body {
    min-height: 100vh;
}

.user {
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    width: 600px;
    background-color: hsl(0, 0%, 96%);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;
    padding-inline: 25px;
    padding-block: 15px;
    border-radius: 10px;
    transition: 0.3s;
    box-shadow: 1px 2px 15px 1px rgba($color: #383838, $alpha: 0.14);
    z-index: 10;

    &:hover {
        box-shadow: 2px 4px 15px 4px rgba($color: #2e2e2e, $alpha: 0.14);
        // transform: translate(1px, 1px);
    }

    &__img {
        height: $mini-profile-size;
        width: $mini-profile-size;
        border: 5px solid $title-color;
        border-radius: 50%;
        background: black;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;

        .pic {
            position: relative;
            display: flex;
            img {
                width: calc(#{$mini-profile-size} + 9px);
            }
        }
    }

    h4 {
        font-size: 1.1rem;
    }

    p.btn {
        // padding-inline: 10px;
        width: 115px;
        padding-block: 7px;
        color: rgb(70, 70, 70);
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        border-radius: 4px;

        margin-left: auto;
    }

    p.friend {
        background: rgb(80, 250, 94);
        box-shadow: 1px 1px 15px 3px rgba($color: #383838, $alpha: 0.18);
    }

    p.invite {
        background: rgb(252, 119, 109);
    }
}
