@import "globals";
@import "partials/header";

// h1 {
//     color: red;
// }
main {
    min-height: calc(100vh - #{$header-h});
    width: 100vw;
    position: relative;
    z-index: 1;
    display: flex;
    // align-items: center;
    justify-content: center;

    .wrapper {
        position: relative;
        padding-top: 20px;
        width: 70%;
        display: flex;
        flex-direction: column;
    }
}

.pic_wrapper {
    overflow: hidden;
    height: $profile-size;
    width: $profile-size;
    border-radius: 50%;
    border: 8px solid $title-color;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.row1 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    // gap: 10%;

    .refresh {
        position: absolute;
        z-index: 2;
        left: 19vw;
        bottom: 10px;
        height: 60px;
        width: 60px;
        background: $gradient-right;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        /* offset-x | offset-y | blur-radius | spread-radius | color */
        box-shadow: -2px 2px 15px 2px rgba(0, 0, 0, 0.212);
        cursor: pointer;

        &__icon {
            color: white;
            position: absolute;
        }
    }
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 25px;
        gap: 30px;
        h1 {
            display: block;
            text-align: center;
        }
        h3 {
            color: gray;
            text-decoration: underline;
        }
    }
}

img {
    height: calc(#{$profile-size});
    z-index: 0;
    position: absolute;
}
