{% extends 'base/base_profile.html' %}
{% load static %}
{% block content %}

{% include 'partials/_header.html' %}

{% include 'partials/_img_form.html' %}

<main>
    <div class="wrapper">
        <div class="row">
            <div class="pic__wrapper">
                <div class="pic">
                    {% if data.profile_pic != "" %}
                    <img src="{{ data.profile_pic.url }}" alt="" />
                    {% else %}
                    <img src="{% static 'assets/default.png' %}" alt="" />
                    {% endif %}
                </div>
                {% if me %}
                <div class="float-btn refresh">
                    <i class="fas fa-redo float-btn__icon"></i>
                </div>
                {% elif not data in friends %}
                <a class="float-btn invite" href="{% url 'make_friend' data.username %}">
                    <i class="fas fa-plus float-btn__icon"></i>
                </a>
                {% else %}
                <a class="float-btn friend" href="{% url 'remove_friend' data.username %}">
                    <i class="fas fa-times float-btn__icon"></i>
                </a>
                {% endif %}
            </div>

            <div class="row__text">
                <h1> {{ data.username }} </h1>
                <p>{{data.bio}} </p>
            </div>
        </div>

        <div class="row info-box">
            <div class="info-box__header">
                <p> User info </p><span> <i class="fas fa-chevron-up"></i> </span>
            </div>
            <div class="info-box__item">
                <h3> <strong> full name: </strong> {{ data.first_name }} {{ data.last_name }}</h3>
            </div>
            <div class="info-box__item">
                <h3> <strong> email: </strong> {{ data.email}}</h3>
            </div>
            <div class="info-box__item">

                <h3> <strong> gender: </strong>
                    {% if data.gender == "M" %}
                    {{ "Male" }}
                    {% elif data.gender == "F" %}
                    {{"Female"}}
                    {% else %}
                    {{ "Não Binário" }}
                    {% endif %}</h3>
            </div>
            <div class="info-box__item">
                <h3 class="date"> joined {{ data.date_joined }}</h3>
            </div>

        </div>
        <a class="float-btn friends" href="{% url 'show_friends' %}">
            <i class="fa fa-user-friends"></i>
        </a>

    </div>
</main>
{% endblock %}